body {
  background-color: #fff;
  color: #5a5a5a;
}

body, html {
  height: 100%;
  margin: 0;
}


.profile-form-control {
  max-width:300px
}


.navigation {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  /*margin-bottom: 20px;*/
  position: relative;
  width: 100%;
  z-index: 1003;
  top: 0;
}
.navigation:hover .secondary-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar-collapse {
  padding-right: 0;
}
.navigation .navbar {
  border: none;
  margin-bottom: 0;
  min-height: inherit;
  padding: 30px 0;
  /**/
  display: table;
  width: 100%;
}
.navigation .navbar .collapse {
  display: table-cell !important;
  vertical-align: middle;
  float: none !important;
}
.navigation .navbar .navbar-brand {
  height: inherit;
  line-height: 0;
  padding: 0;
}
.navigation .navbar .navbar-nav {
  float: right;
}

.navbar .navbar-header .navbar-brand.nav.logo.retina {
 display:none;
}


.navbar-brand.nav > h1.site-title {
 border: 0 none;
 font-size: 22px;
 margin: 0;
 padding: 0;
}

.navbar-brand.nav >  h2.site-description {
 border: 0 none;
 font-size: 16px;
 margin: 0;
 padding: 0;
}

.navbar .navbar-header .navbar-brand.nav.logo.retina img {
 width: 100%;
}

.navigation .secondary-navigation .user-profile-link {
  margin-left: 10px;
  display:inline-block;
}

.navigation .secondary-navigation .user-profile-link a {
  margin:0;
}

.navigation .navbar .navbar-nav > li:hover > .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}
/* .navigation .navbar .navbar-nav > li:last-child a {
  padding-right: 0;
} */

.navigation .navbar .navbar-nav > li.active a,
.navigation .navbar .navbar-nav > li.current-menu-item a,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar .navbar-nav > li.active > a:after,
.navigation .navbar .navbar-nav > li.current-menu-item > a:after,
.navigation .navbar .navbar-nav > li.current-menu-ancestor > a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.navigation .navbar .navbar-nav > li.active .child-navigation a,
.navigation .navbar .navbar-nav > li.current-menu-item .child-navigation a,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  .child-navigation a {
  color: #5a5a5a;
}
.navigation .navbar .navbar-nav > li.active .child-navigation a:after,
.navigation .navbar .navbar-nav > li.current-menu-item .child-navigation a:after,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  .child-navigation a:after {
  display: none !important;
}
.navigation .navbar .navbar-nav > li.active .child-navigation li:first-child a:after,
.navigation .navbar .navbar-nav > li.current-menu-item .child-navigation li:first-child a:after,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  .child-navigation li:first-child a:after {
  display: block !important;
}
.navigation .navbar .navbar-nav > li.active .child-navigation.position-bottom li:last-child a:after,
.navigation .navbar .navbar-nav > li.current-menu-item .child-navigation.position-bottom li:last-child a:after,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  .child-navigation.position-bottom li:last-child a:after {
  display: block;
}
.navigation .navbar .navbar-nav > li.has-child {
  position: relative;
  padding-bottom: 3px;
}
.navigation .navbar .navbar-nav > li.has-child:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f0d7";
  color: #1396e2;
  font-size: 8px;
  height: 10px;
  position: absolute;
  top: 3px;
  bottom: 0;
  margin: auto;
  right: 2px;
}
.navigation .navbar .navbar-nav > li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: #2a2a2a;
  line-height: 0;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 9px;
  position: relative;
}
.navigation .navbar .navbar-nav > li a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #1396e2;
  bottom: -5px;
  content: "";
  left: 16px;
  height: 1px;
  position: absolute;
  width: 10px;
}
.navigation .navbar .navbar-nav > li:hover  a,
.navigation .navbar .navbar-nav > li.current-menu-item a,
.navigation .navbar .navbar-nav > li.current-menu-ancestor  a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
}
.navigation .navbar .navbar-nav > li a:active, .navigation .navbar .navbar-nav > li a:focus {
  background-color: transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation {
  margin-top: 11px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left {
  right: 15px;
  left: inherit;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left > li:first-child a:after {
  left: inherit;
  right: 10px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.navigation-to-left.position-bottom > li:last-child a:after {
  left: inherit;
  right: 10px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom {
  bottom: 25px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:first-child a:after {
  border-color: transparent !important;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child:hover a:after {
  border-color: #1396e2 transparent transparent transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child > a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  border-color: #f3f3f3 transparent transparent transparent;
  border-style: solid;
  border-width: 7.5px 7.5px 0 7.5px;
  content: "";
  height: 0px;
  position: absolute;
  left: 10px;
  bottom: -7px;
  width: 0px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li:last-child > a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  content: "";
  height: 8px;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: -8px;
}
.navigation .navbar .navbar-nav > li > .child-navigation.position-bottom > li .child-navigation {
  bottom: 0;
  margin-top: inherit;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li {
  position: relative;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child:hover a:hover:after,
.navigation .navbar .navbar-nav > li.current-menu-ancestor > .child-navigation > li.current-menu-item a:after {
  border-color: transparent transparent #1396e2 transparent;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child > a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3 transparent;
  border-style: solid;
  border-width: 0 7.5px 7px 7.5px;
  content: "";
  height: 0px;
  position: absolute;
  left: 10px;
  top: -7px;
  width: 0px;
}
.navigation .navbar .navbar-nav > li > .child-navigation > li:first-child a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: transparent;
  content: "";
  height: 8px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -8px;
}
.navigation .navbar .navbar-nav > li .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  position: absolute;
  visibility: hidden;
  list-style: none;
  padding-left: 0;
  left: 15px;
  min-width: 240px;
  z-index: 100;
}
.navigation .navbar .navbar-nav > li .child-navigation li:hover > .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  visibility: visible;
}
.navigation .navbar .navbar-nav > li .child-navigation li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  line-height: 24px;
  padding: 10px 10px 5px 10px;
  position: relative;
}
.navigation .navbar .navbar-nav > li .child-navigation > li:hover  > a,
.navigation .navbar .navbar-nav > li .child-navigation > li.current-menu-ancestor > a,
.navigation .navbar .navbar-nav > li .child-navigation > li .child-navigation  > li.current-menu-item > a,
.navigation .navbar .navbar-nav > li.current-menu-ancestor > .child-navigation li.current-menu-item > a {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #1396e2;
  color: #fff;
}
.navigation .navbar .navbar-nav > li .child-navigation li .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: -40px;
}
.navigation .navbar .navbar-nav > li.mobile-submit {
  display: none;
}
.navigation .navbar .navbar-nav li .child-navigation li.has-child:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  background-color: transparent;
  color: #1396e2;
  content: "\f105";
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: inherit;
  right: 8px;
  width: 5px;
  z-index: 2;
}
.navigation .navbar .navbar-nav li .child-navigation li.has-child:hover:after,
.navigation .navbar .navbar-nav li .child-navigation li.current-menu-ancestor:after {
  color: #fff;
}
.navigation .add-your-property {
  position: absolute;
  right: 0;
  bottom: -39px;
}
.navigation .add-your-compare {
  position: absolute;
  right: 40px;
  bottom: -39px;
}
.navigation .add-your-compare a {
  background-color:#f3f3f3;
}

.navigation .add-your-compare a i.fa {
 color:#1396e2;
 position: relative;
}

.navigation .add-your-compare.active a  {
 background-color:#1396e2;
}
.navigation .add-your-compare a:hover i.fa,
.navigation .add-your-compare.active i.fa {
 color:#fff;
}
navigation .add-your-compare a i.fa.fa-building {
    left: -7px;
    top: -6px;
}
.navigation .add-your-property:hover .text,
.navigation .add-your-compare:hover .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  top: 50px;
  pointer-events: none;
}
.navigation .add-your-property .btn,
.navigation .add-your-compare .btn {
  width: 38px;
}
.navigation .add-your-property .text,
.navigation .add-your-compare .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #5a5a5a;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  pointer-events: none;
}
.navigation .add-your-property .text:after,
.navigation .add-your-compare .text:after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -4px;
  right: 15px;
  margin: auto;
}
.navigation .secondary-navigation {
   /*
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;*/
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #f3f3f3;
  display: table;
  font-size: 12px;
  padding: 5px 0;
  width: 100%;
}
.navigation .secondary-navigation a {
  color: #5a5a5a;
  margin-left: 10px;
}
.navigation .secondary-navigation a:hover {
  color: #073855;
}
.navigation .secondary-navigation a.promoted {
  color: #1396e2;
}
.navigation .secondary-navigation a.promoted:hover {
  color: #073855;
}
.navigation .secondary-navigation .contact {
  float: left;
}
.navigation .secondary-navigation .contact figure {
  margin-right: 10px;
}
.navigation .secondary-navigation .contact figure strong {
  margin-right: 5px;
}
.navigation .secondary-navigation .user-area {
  float: right;
}
.navigation .secondary-navigation .user-area .actions {
  float: left;
}
.navigation .secondary-navigation .user-area .language-bar {
  float: right;
}
.navigation .secondary-navigation figure {
  display: inline-block;
}
.navigation .secondary-navigation .container{
  height: 0;
}
.navigation-fixed-bottom .navigation {
  bottom: 0;
  position: absolute;
  top: inherit;
}

.navigation-fixed-top .navigation {
  top: 0;
  position: fixed;
  bottom: inherit;
}

.navigation-fix-to-top {
  position: fixed !important;
  bottom: inherit !important;
  top: 0 !important;
}






/* profile */


.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #336699;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}





/*
property carousel
*/

.property-carousel .property-slide {
  position: relative;
}
.property-carousel .property-slide .overlay {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  bottom: 0;
  left: 0;
  height: 40%;
  position: absolute;
  width: 100%;
}
.property-carousel .property-slide .overlay h3 {
  bottom: 20px;
  color: #fff;
  left: 30px;
  font-size: 24px;
  position: absolute;
}
.property-carousel .property-slide img {
  width: 100%;
}
.property-carousel .owl-controls {
  position: absolute;
  right: 0;
  top: 0;
}
.property-carousel .owl-controls .owl-prev, .property-carousel .owl-controls .owl-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #1396e2;
  display: inline-block !important;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 3 !important;
}
.property-carousel .owl-controls .owl-prev:after, .property-carousel .owl-controls .owl-next:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  color: #fff;
  width: 5px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.property-carousel .owl-controls .owl-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.property-carousel .owl-controls .owl-next:after {
  content: "\f105";
}
.property-carousel .owl-controls .owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.property-carousel .owl-controls .owl-prev:after {
  content: "\f104";
}