{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <section>
                        <header>
                            <h1>{{ profile.fullname }} </h1>
                        </header>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <p></p>
                                    <div class="col-md-12 col-sm-12">
                                        <aside class="clearfix">
                                            <div class="col-md-12">
                                                <figure><img alt="" style="max-width: 116px; max-height: 116px" src="{{ profile.avatar }}"></figure>
                                                <br/>
                                            </div>
                                            <div class="col-md-12">
                                                <dl>
                                                    {% for attribute in profile.attributes %}
                                                        <dd>{{ attribute.name }}</dd>
                                                    {% endfor %}
                                                </dl>
                                                <dl>
                                                    <dt>Email:</dt>
                                                    <dd><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></dd>
                                                </dl>

                                                <section id="description">
                                                    <header><h2>Accommodation</h2></header>
                                                    <figure>
                                                        <b>Address: </b> {{ accom.address }}
                                                    </figure>
                                                    <br/>
                                                    <p>{{ accom.description }}</p>
                                                </section>
                                            </div>
                                        </aside>
                                    </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div id='map' style="width: 100%; height: 400px"></div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            {% for imgdb in imgs %}
                                <div class="col-md-3">
                                    <a href="{{ imgdb.url }}">
                                        <img src="{{ imgdb.url }}" alt="{{ imgdb.caption }}" style="width:100%">
                                        <div class="caption">
                                            <p>{{ imgdb.caption }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script type="application/javascript">
        var map = null;
        $(document).ready(function () {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: new google.maps.LatLng(53.3471337, -6.2612183),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        });
    </script>
{% endblock %}