{# Page to add a accommodation #}

{# css base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}Accommodation{% endblock %}

{# Main Content #}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px"> {# aligns content, increase margin size #}
            <div class="col-md-10"> {# aligns content #}
                {% if form.errors %}
                    <span class = "text-danger small"> {{ form.errors }}</span>
                {% endif %}
                <form class ="form-horizontal" method="post" action="" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <h2>House Details</h2>
                    <table>
                        <tr>
                            <td>
                                {{ form.address.label_tag }}
                            </td>
                        <tr/>
                        <tr>
                            <td>
                                {{ form.address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.description.label_tag }}
                            </td>
                        <tr/>
                        <tr>
                            <td>
                                {{ form.description }}
                            </td>

                        </tr>
                    </table>
                    <br/>

                    {# Photos #}
                    <h2>House Photos</h2>
                    {{ img_formset.management_form }}
                    <table>
                        <tr>
                            {% for f in img_formset %}
                                <td>
                                    {{ f }}
                                </td>
                                <td>
                                    <br/>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <button type="submit" class = "btn btn-success">Post </button>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}