{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}MateUp{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    {% block head %}{% endblock %}
</head>
<body>


{# Navigation Bar #}
<div class="navigation">
    <div class="secondary-navigation">
        <div class="container">

            {# LOGIN INFORMATION #}
            <div class="user-area">
                <div class="actions">
                    {# when user is logged, display these options #}
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">Hi, {{ user.username }}</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        {# when user is not logged, display these options #}
                        <a class="promoted" href="{% url 'register' %}" class="register"><strong>Register</strong></a>
                        <a href="{% url 'login' %}" class="sing-in">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Navigation Bar #}
    <div class="container">
        <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
                {# Nav bar Icon #}
                <a class="navbar-brand nav logo" href="{% url 'index' %}" title="MateUp - A personal Approach on Finding Accommodation" rel="home">
                    <img style="width:94px; height:22px;" width="94" height="22" src="{% static 'mateupimage.PNG' %}" alt="MateUp - A personal Approach on Finding Accommodation"/>
                </a>
            </div>

            {# Navigation Options #}
            {# FIXME collapse is not working. #}
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right">
                <ul id="menu-main-menu-header" class="nav navbar-nav">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{% url 'match' %}">Matching</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{% url 'accommodation-add' %}">List your property</a>
                        </li>
                    {% endif %}
                </ul>

            </nav>
        </header>{# /.navbar #}
    </div>{# /.container #}
</div>{# /.navigation #}
{# end Navigation #}

{# MAIN CONTENT OF THE PAGE #}
<main>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>


</main>

{# Footer #}
<footer>
    <div class="container-flow">
        <div class="row">
            <div class="col-md-12">
                <hr class="small">
                <p class="copyright text-muted" style="text-align: center">Copyright &copy; MateUp 2017</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static  "bootstrap-switch/js/bootstrap-switch.js" %}"></script>

{% block javascript %}

{% endblock %}

</body>

</html>