{# css base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}MateUp{% endblock %}
{# images #}
{% load static %}

{# Main Content #}
{% block content %}
    <div id='map' style="width: 100%; height: 300px"></div>
    <br/>
    <img src="{% static 'mateupimage.PNG' %}"/>
{% endblock %}

{# Map #}
{% block javascript %}
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script type="application/javascript">
        var map = null;
        $(document).ready(function () {
             map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: new google.maps.LatLng(53.3471337, -6.2612183),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        });
    </script>
{% endblock %}