<!--
Login page created using the login template from Django.
 https://docs.djangoproject.com/en/1.9/topics/auth/default/#all-authentication-views
-->
{# css base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}Login{% endblock %}

{# Main Content #}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px"> {# aligns content, increase margin size #}
            <div class="col-md-10"> {# aligns content #}
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <br/>
                    <input type="submit" class="btn btn-success" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
    </div>

{% endblock %}