{# css base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}Match{% endblock %}

{# Main Content #}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px"> {# aligns content, increase margin size #}
            <div class="col-md-10">  {# content alignment #}
                Matches for {{ user.username }}:
                <ol>
                    {% for m in matches %}
                        {% if m.accommodation %} {# only displays users with a listed property #}
                            <li>
                                <a href="{% url 'accommodation' m.accommodation.id %}">{{ m.candidate.name }}</a>
                                <ul>
                                    {% for a in m.candidate.attributes.all %}
                                        <li> {{ a.name }} </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% elif m.candidate.name %}
                            <li>
                                <a href="{% url 'accommodation' m.candidate.id %}">{{ m.candidate.name }}</a>
                                <ul>
                                    {% for a in m.candidate.attributes.all %}
                                        <li> {{ a.name }} </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% empty %}
                        <li>Sorry, No matches found! :(</li>
                    {% endfor %}
                </ol>
                <a href="{% url 'index' %}">Back</a>
            </div>
        </div>
    </div>
{% endblock content %}
