{# CSS base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}Profile{% endblock %}
{# images #}
{% load static %}

{# Main Content #}
{% block content %}
    <div class="container"> {# aligns content #}
        {# Section to show the user Avatar #}
        <div class="row" style="margin-top: 20px"> {# aligns content, increase margin size #}
            {# displays user name #}
            <div class="col-md-10"> {# profile name alignment #}
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>

                {# if user already have an avatar, displays it #}
                {% if user.profile.avatar %}
                    {# add section to view the avatar #}
                    <img class="img-responsive" width="200" height="100"
                         style="border-radius: 50%; border: solid 1px gray"
                         src="/media/{{ user.profile.avatar }}" alt="">
                {% endif %}

                {# form with user information, avatar, attributes, email, etc #}
                <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                    {# TODO Remove this part, since no one, excepet the own user, is going to see the page #}
                    {# if profile page does not belong to user, disabled information modification #}
                    <fieldset {% if is_readonly %} disabled="disabled" {% endif %}>
                        {% csrf_token %}
                        <div class="fieldWrapper">
                            <hr>
                            {{ profile_form.avatar.label_tag }} {# Label "Avatar: " #}
                            <br/>
                            {{ profile_form.avatar }} {# "Choose file" button #}
                            {# text that will appear below address textfield. Check 'Profile.models.py' #}
                            {% if profile_form.avatar.help_text %}
                                <p class="help">{{ profile_form.avatar.help_text|safe }}</p>
                            {% endif %}

                            <hr>
                            {{ user_form.first_name.label_tag }} {# Label "Avatar: " #}
                            <br/>
                            {{ user_form.first_name }} {# "Choose file" button #}
                            {# text that will appear below address textfield. Check 'Profile.models.py' #}
                            {% if user_form.first_name.help_text %}
                                <p class="help">{{ user_form.first_name.help_text|safe }}</p>
                            {% endif %}

                            <hr>
                            {{ user_form.last_name.label_tag }} {# Label "Avatar: " #}
                            <br/>
                            {{ user_form.last_name }} {# "Choose file" button #}
                            {# text that will appear below address textfield. Check 'Profile.models.py' #}
                            {% if user_form.last_name.help_text %}
                                <p class="help">{{ user_form.last_name.help_text|safe }}</p>
                            {% endif %}

                            <hr>
                            {{ user_form.email.label_tag }} {# Label "Avatar: " #}
                            <br/>
                            {{ user_form.email }} {# "Choose file" button #}
                            {# text that will appear below address textfield. Check 'Profile.models.py' #}
                            {% if user_form.email.help_text %}
                                <p class="help">{{ user_form.email.help_text|safe }}</p>
                            {% endif %}

                            <hr>
                            {{ profile_form.address.label_tag }} {# Label "Avatar: " #}
                            <br/>
                            {{ profile_form.address }} {# "Choose file" button #}
                            {# text that will appear below address textfield. Check 'Profile.models.py' #}
                            {% if profile_form.address.help_text %}
                                <p class="help">{{ profile_form.address.help_text|safe }}</p>
                            {% endif %}


                            <hr>
                            <h4>Are you offering or searching for an accommodation?</h4>
                            <label class="switch switch-yes-no">
                                {# changes checkbox for switch-handle #}
                                {% if profile_form.searching.value %}
                                    <input checked class="switch-input" type="checkbox" id="{{ profile_form.searching.id_for_label }}" name="{{ profile_form.searching.name }}"/>
                                {% else %}
                                    <input class="switch-input" type="checkbox" id="{{ profile_form.searching.id_for_label }}" name="{{ profile_form.searching.name }}"/>
                                {% endif %}
                                <span class="switch-label" data-on="SEARCHING" data-off="OFFERING"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <hr>


                            <h4>Enter your preferences</h4>
                            {% for attribute in profile_form.attributes %}
                                {# prints the checkbox with the attributes fields. check widgets in forms.py #}
                                <br/>
                                {# the switch handle #}
                                {{ attribute.choice_label }} {# shows the attribute name #}
                                <label class="switch switch-yes-no">
                                    {# change checkbox for switch-handle #}
                                    {# if the attrib value is in the db, means it was select, so it'll appear checked when page opens again #}
                                    {% if attribute.choice_value in attribute.value %}
                                        <input checked class="switch-input" type="checkbox" name="{{ attribute.name }}"
                                               id="{{ attribute.id_for_label }}" value="{{ attribute.choice_value }}"/>
                                    {% else %}
                                        <input class="switch-input" type="checkbox" name="{{ attribute.name }}"
                                               id="{{ attribute.id_for_label }}" value="{{ attribute.choice_value }}"/>
                                    {% endif %}
                                    <span class="switch-label" data-on="YES" data-off="NO"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            {% endfor %}

                        </div>

                        <input type="submit" class="btn btn-success" value="Save"/><br>
                        <a href="{% url 'index' %}">Back</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}