{# css base #}
{% extends "base.html" %}
{# tab title #}
{% block title %}Register{% endblock %}

{# Main Content #}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px"> {# aligns content, increase margin size #}
            <div class="col-md-10"> {# aligns content #}
                <form method="post" action="">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>
                                {{ form.username.label_tag }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                {{ form.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password1.label_tag }}
                            </td>
                        <tr/>
                        <tr>
                            <td>
                                {{ form.password1 }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password2.label_tag }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password2 }}
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <button type="submit" class="btn btn-success">Register </button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}